<div class="container">
  <div class="row">
    <div class="col-12 assigment-2">
      <h3 class="display-4 text-center">Assigment 2</h3>
      <ol>
        <li>Add a Input field witch updates a property ('username') via Two-Way-Binding</li>
        <li>Output the username property via String Iterpolation (in a paragraph below the input)</li>
        <li>Add a button which may only be clicked if the username is NOT an empty string</li>
        <li>Upon clicking the button, the username should be reset to an empty string</li>
      </ol>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="input-group mb-3 col-12">
      <input type="text" class="form-control" [(ngModel)]="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-danger" type="button" [disabled]="!username" (click)="username=''">Reset</button>
      </div>
    </div>
    <h4 class="col-12">{{username}}</h4>
  </div>
</div>